.admin-mobile-topbar {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #007bff17;
  border-bottom: 1px solid #007bff3d;
}

.admin-mobile-topbar > h2 {
  cursor: pointer;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 3px;
  padding: 1px 6px;
  transition: background 0.3s ease-in-out;
}

.admin-mobile-topbar > h2:hover {
  background: #007bff14;
}

.admin-sidebar {
  position: fixed;
  left: 10px;
  top: 1%;
  width: 250px;
  height: 98%;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0000001c;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}

.admin-content-area {
  margin-left: 260px;
  padding: 20px;
}

.admin-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px 3px 0px;
  border-bottom: 1px solid #00000024;
}

.admin-sidebar-list-items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-sidebar-list-items > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.admin-sidebar-list-items > div:hover {
  background-color: #f0f0f0;
  border: 1px solid #0000001c;
}

.admin-sidebar-active {
  background-color: black !important;
  color: white;
  border: none !important;
}

.admin-sidebar-footer {
  position: absolute;
  bottom: 10px;
  width: 90%;
  border-top: 1px solid #00000024;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-sidebar-footer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 85%;
  padding: 8px 0px;
  transition: all 0.3s ease-in-out;
}

.admin-sidebar-footer > button:hover {
  background-color: #d32f2f;
}

.go-site {
  display: block !important;
}
.close-admin-sidebar {
  display: none !important;
}

@media (max-width: 768px) {
  .admin-mobile-topbar {
    display: flex;
  }

  .admin-sidebar {
    left: -250px;
    top: 0px;
    height: 100vh;
    border-radius: 0px;
  }
  .show-admin-sidebar {
    left: 0px !important;
  }
  .go-site {
    display: none !important;
  }
  .close-admin-sidebar {
    display: block !important;
  }

  .admin-content-area {
    margin-left: 0px;
    padding: 0px;
  }
}
