.admin-orders-page {
  padding: 2rem;
  background: #fafafa;
}

.admin-orders-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.admin-orders-subtitle {
  color: #777;
  margin-bottom: 1.2rem;
}

.admin-orders-filters {
  display: flex;
  gap: 0.6rem;
  margin-bottom: 1.5rem;
  overflow: auto hidden;
}

.admin-filter-btn {
  background: #e4e4e4;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.admin-filter-btn.active {
  background: #222;
  color: #fff;
}

.admin-orders-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: auto hidden;
  display: block;
  white-space: nowrap;
}

.admin-orders-table tr {
  min-width: 700px;
}

.admin-orders-table th,
.admin-orders-table td {
  padding: 20px 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.admin-orders-table th {
  background: #f0f0f0;
}

.admin-orders-table > tbody tr {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #cccccc00;
}

.admin-orders-table > tbody tr:hover {
  transform: scale(1.01);
  background-color: #cccccc27;
}

.status-tag {
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  font-size: 0.8rem;
  text-transform: capitalize;
  width: 82px;
  display: inline-block;
  text-align: center;
}

.status-tag.pending {
  background-color: #fca311;
}
.status-tag.processing {
  background-color: #3b82f6;
}
.status-tag.shipped {
  background-color: #2a9d8f;
}
.status-tag.delivered {
  background-color: #4caf50;
}
.status-tag.cancelled {
  background-color: #d62828;
}

.status-selector {
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.go-product-btn {
  background-color: #007bff;
  color: #fff;
  transition: all 0.3s ease;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.go-product-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
