.cart-container {
  width: 85%;
  margin: 40px auto;
}

.cart-title {
  font-size: 32px;
  font-weight: 700;
}

.cart-subtitle {
  color: #555;
  margin-bottom: 20px;
}

.cart-wrapper {
  display: flex;
  gap: 30px;
}

.cart-items {
  width: 65%;
}

.cart-item-card {
  background: #e9f3ff;
  border-radius: 12px;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 18px;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cart-item-info {
  flex: 1;
}

.cart-item-name {
  font-size: 18px;
  font-weight: 600;
}

.cart-item-cat {
  font-size: 14px;
  color: #666;
}

.cart-price {
  color: #0284ff;
  font-weight: 600;
  font-size: 18px;
}

.cart-qty {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-qty-btn {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  border: none;
  background: #bddcfd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-total-price {
  font-size: 18px;
  font-weight: 600;
}

.cart-delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.cart-summary {
  width: 30%;
  background: #f6faff;
  padding: 18px;
  border-radius: 12px;
}

.cart-summary-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.cart-summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-green {
  color: green;
}

.cart-divider {
  margin: 12px 0;
}

.cart-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.cart-btn.checkout {
  background: #007bff;
  color: white;
}

.cart-btn.continue {
  background: white;
  border: 1px solid #ccc;
}

.empty-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
}

.empty-cart-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3ecff;
  width: 425px;
  height: auto;
  text-align: center;
  background-color: #f6faff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 40px;
}

.empty-cart-inner-container:hover .landing-services-icon {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.05);
}

.cart-2-btn.continue {
  background-color: #007bff;
  color: #fff;
  transition: all 0.3s ease;
}

.cart-2-btn.continue:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
