.chatbot-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  gap: 18px;
}
.chatbot-icon {
  background-color: rgba(255, 255, 255, 0.15);
  color: #007bff;
  padding: 9px 10px 10px 10px;
  font-size: 0px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0px 12px rgb(0 0 0 / 12%);
  transition: all 0.3s ease;
  backdrop-filter: blur(4px);
}

.chatbot-icon:hover {
  transform: scale(1.1);
}

.chatbot-container {
  position: relative;
  width: 350px;
  height: 500px;
  max-height: 90vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease;
  margin-bottom: 15px;
}

.chat-bot-corner {
  position: absolute;
  bottom: 0;
  right: -7px;
  width: 26px;
  height: 20px;
  border: 1px solid rgb(255 255 255 / 35%);
  border-top: 0px;
  border-left: 0px;
  background-color: rgb(255 255 255 / 6%);
  transform: skewX(36deg);
  z-index: 1;
  backdrop-filter: blur(22px);
}

.chatbot-header {
  background-color: #007bff;
  color: white;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px 16px 0px 0px;
}

.chatbot-back-btn {
  background: #fff;
  border: none;
  color: #007bff;
  cursor: pointer;
  border-radius: 8px;
  font-size: 0px;
  padding: 3px 4px 3px 2px;
  transition: all 0.3s ease-in-out;
}

.chatbot-back-btn:hover {
  transform: scale(1.1);
}

.chatbot-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
}

.chatbot-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width: thin;
}

.chat-message {
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 90%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.4;
}

.bot-message {
  background-color: #007bff;
  align-self: flex-start;
  border-bottom-left-radius: 2px;
  color: #fff;
}

.user-message {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
  border-bottom-right-radius: 2px;
}

.chatbot-input-area {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgb(255 255 255 / 35%);
  background-color: rgba(255, 255, 255, 0.15);
  gap: 8px;
  z-index: 2;
  border-radius: 0px 0px 16px 16px;
}

.chatbot-input {
  flex: 1;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  padding: 8px 14px;
  font-size: 16px;
  outline: none;
  transition: border 0.2s;
  width: 100%;
}

.chatbot-textarea {
  flex: 1;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 10px 14px;
  font-size: 16px;
  outline: none;
  transition: border 0.2s;
  width: 100%;
  height: 42px;
  min-height: 42px;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
  scrollbar-width: none;
}
.chatbot-input:focus,
.chatbot-textarea:focus {
  border-color: #007bff;
}

.chatbot-send-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.chatbot-send-btn:hover {
  transform: scale(1.05);
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.chatbot-messages::-webkit-scrollbar {
  width: 6px;
}

.chatbot-messages::-webkit-scrollbar-thumb {
  background-color: rgba(37, 99, 235, 0.5);
  border-radius: 10px;
}

.chatbot-view-product-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s ease;
}

.chatbot-view-product-btn:hover {
  background: #3730a3;
}

@media only screen and (max-width: 450px) {
  .chatbot-wrapper {
    right: 10px;
    bottom: 6px;
    flex-direction: column;
    gap: 3px;
  }
  .chatbot-container {
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    margin-bottom: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 0px;
    z-index: 1;
  }
  .chatbot-header {
    border-radius: 0px;
  }
  .chat-bot-corner {
    display: none;
  }
}
