.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid rgb(255 255 255 / 40%);
  position: sticky;
  top: 0px;
  z-index: 5;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
}

.icon {
  cursor: pointer;
  font-size: 0px;
  transition: all 0.3s ease-in-out;
}

.go-dashboard-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.go-dashboard-btn:hover {
  background-color: #007bffdb;
}

.topbar > h2 {
  position: absolute;
  right: 45vw;
  cursor: pointer;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 3px;
  padding: 1px 6px;
  transition: background 0.3s ease-in-out;
}

.topbar > h2:hover {
  background: #007bff14;
}

.topbar-profile {
  background: #e8e8e88c;
  border: 1px solid #bababa;
  border-radius: 5px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topbar > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* ==== Search Modal ==== */

.search-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 0px 6px;
}

.search-result-card {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  width: 100%;
  gap: 12px;
  background: rgba(255, 255, 255, 0.08);
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease-in-out;
}

.search-result-card:hover {
  border: 1px solid white;
  transform: scale(1.04);
}

.search-result-card > img {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  object-fit: cover;
}

.search-result-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  width: 80%;
}

.search-result-info > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: start;
}

.search-result-info-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
